/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Css */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* Header Section */

header {
    display: flex;
    justify-content: center;
}

.header-section {
    color: #fff;
    display: flex;
    background-color: #181818;
    border-radius: 10px;
    width: 84%;
    height: 500px;
    margin-top: 30px;
}

.header-info {
    width: 50%;
    position: relative;
    left: 100px;
    top: 25px;
}

.header-info h1 {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 20px;
}

.header-info p {
    font-size: 13px;
}

.header-info h1,
p {
    width: 75%;
}

.header-img {
    width: 50%;
}

.header-img img {
    width: 81%;
    padding-top: 3%;
}

.button {
    background-color: red;
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
}

.button a {
    text-decoration: none;
    color: #fff;
}



/* Blog Section */

main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.blog-section {
    border-radius: 25px;
    width: 84%;
    display: flex;
    justify-content: space-around;
}


.side-bar {
    background-color: #181818;
    border-radius: 10px;
    width: 100%;
    height: 235px;
    padding: 10px 0 15px 0;
}

.side-bar-boxes {
    color: #181818;
    background-color: #fff;
    display: block;
    text-decoration: none;
    margin: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;

}


.active {
    background-color: red;
    color: #fff;
}

/***************/

.blogs {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 30px;
}

.blog {
    display: inline-block;
    border: 1px solid rgb(229, 226, 226);
    border-radius: 10px;
    width: 264px;
}

.blog img {
    width: 265px;
    height: 145px;
    margin-bottom: 13px;
}

.blog a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    font-weight: bolder;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 15px;
}

.blog h3 {
    font-size: 16px;
    margin-left: 15px;
}

.icons {
    color: #444;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 15px;
}

.icons span {
    margin: 7px;
    font-size: 14px;
}

.icons img {
    height: 22px;
    width: 22px;
    margin-bottom: 0;
}

/* Footer Section */

.footer-section {
    background-color: #181818;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}

.footer-section h1 {
    font-size: 43px;
    color: #fff;
}

hr {
    width: 85%;
    border: none;
    height: 1px;
    background-color: #333;
}

.footer-text {
    color: #CFD2CF;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 15%;
    width: 70%;
}

/* ANOTHER PAGE (MATCH.HTML) */

/* Match Section */

.match {
    text-align: center;
    display: inline-block;
    border: 1px solid rgb(229, 226, 226);
    border-radius: 10px;
    width: 264px;
    padding: 20px 5px;
}

.flags {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flags img {
    width: 88px;
    height: 49px;
}

.vs {
    font-size: 14px;
    font-weight: bolder;
    margin: auto 10px;
}